@using DynamicView.Helpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" />
    <link href="/assets/global/css/cratis.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout2/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="/assets/admin/layout2/css/themes/blue.css" rel="stylesheet" type="text/css" />
    <link href="/assets/admin/layout2/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />



    @RenderSection("header", false)

    @{
        var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture;
    }

    <script>

        var GlobalConfig = {
            IsAuthenticated : @((User.Identity != null && User.Identity.IsAuthenticated).ToString().ToLower()),
            HashedValue : '@Util.ComputeHash(User.Identity != null && User.Identity.IsAuthenticated ? User.Identity.Name : "Anonymous")',
            IsRTL : @currentCulture.TextInfo.IsRightToLeft.ToString().ToLower(),
            CultureCode : "@currentCulture.Name",
            CultureShortCode : "@currentCulture.Name.Split('-')[0]",
            ShortTimePattern : "@currentCulture.DateTimeFormat.ShortTimePattern",
            ShortDatePattern : "@currentCulture.DateTimeFormat.ShortDatePattern",
            LongTimePattern : "@currentCulture.DateTimeFormat.LongTimePattern",
            LongDatePattern : "@currentCulture.DateTimeFormat.LongDatePattern",
            FullDateTimePattern : "@currentCulture.DateTimeFormat.FullDateTimePattern",
            MonthDayPattern : "@currentCulture.DateTimeFormat.MonthDayPattern",
            YearMonthPattern : "@currentCulture.DateTimeFormat.YearMonthPattern",
            RFC1123Pattern : "@currentCulture.DateTimeFormat.RFC1123Pattern",
            DateTimePickerPattern : "@string.Format("{0} - {1}", currentCulture.DateTimeFormat.ShortDatePattern.ToLower(), currentCulture.DateTimeFormat.ShortTimePattern.ToLower().Replace("mm", "ii"))",
            DateSeparator : "@currentCulture.DateTimeFormat.DateSeparator",
            TimeSeparator : "@currentCulture.DateTimeFormat.TimeSeparator",
            CurrencyDecimalSeparator : "@currentCulture.NumberFormat.CurrencyDecimalSeparator"
        };

        var TableLocalizations = {
            loadingMessage: "Yükleniyor...",
            reload: "Yenile",
            advancedSearchText: "Gelişmiş",
            editButton: "Güncelle",
            viewButton: "Göster",
            moreButton: "Daha",
            warning: "Uyarı",
            deleteConfirmMessage: "Seçili kayıtları silmek istiyor musun?",
            okText: "Tamam",
            cancelText: "İptal",
            noRecordSelected: "Lütfen bir kayıt seçiniz",
            deleteSingleSuccessMessage: "Kayıt başarıyla silindi",
            deletePluralSuccessMessage: "Kayıtlar başarıyla silindi",
            success: "Başarılı",
            error: "Hata",
            unAuthorizedMessage: "Yetkisiz İşlem",
            forbiddenMessage: "Bu işlemi yapmaya yetkiniz yok",
            notFoundMessage: "Bulunamadı",
            rowInfoSelected: "_TotalCount_ kayıt seçildi",
            rowInfoClear: "Tüm seçimi kaldır"
        };

    </script>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <!-- END CORE PLUGINS -->
    <script src="/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="/assets/admin/layout2/scripts/layout.js" type="text/javascript"></script>
    <script src="/assets/admin/layout2/scripts/demo.js" type="text/javascript"></script>
    <script src="/assets/global/scripts/cratis.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
    </script>
    <!-- END JAVASCRIPTS -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed">

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="/assets/admin/layout2/img/logo-default.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->
            <div class="page-actions">
            </div>
            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">
                                    @(User.Identity != null ? User.Identity.Name : string.Empty)
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="javascript:;" onclick="javascript: document.getElementById('logoutForm').submit()">
                                        <i class="icon-key"></i> Çıkış
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @{ Html.ActionLink("Menu", "Home"); }
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">

                <div class="page-content-body">
                    @RenderBody()
                    <!-- HERE WILL BE LOADED AN AJAX CONTENT -->
                </div>

            </div>
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <!--Cooming Soon...-->
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            Expats - Denizbank
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->

    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    @RenderSection("footer", false)
    <script>
    var currentDate = new Date().toISOString();
    setInterval(function(){
        $.get( "/api/Session/Update?" + currentDate, function( data ) {
            currentDate = new Date().toISOString();
        });
    }, 60000);
    </script>
</body>
</html>


